body{
    background-color: rgb(238, 209, 209);
    margin: 0px;
}
header{
    color:rgb(238, 209, 209);
    background: -webkit-linear-gradient(bottom right, Red, rgb(1, 1, 95));
    font-size: 150%;
    padding: 10px;
}

header h1{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
}

header a{
    color:rgb(238, 209, 209);
    text-decoration: none;
}

nav{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(98, 0, 65);
    text-align: center;
}

nav li{
    float: left;
    text-align: center;
}
  
nav li a{
    display: block;
    color: rgb(238, 209, 209);
    padding: 14px 55px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

nav #current_page{
    background-color: rgb(48, 0, 32);
}

nav li a:hover{
    background-color: rgb(48, 0, 32);
}

main h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

main h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

main h3{
    font-family: 'Courier New', Courier, monospace;
}

main li{
    text-indent: 30px;
}

main img {
    float: center;
    width: 100px;
    height: 75px;
 }