<!DOCTYPE html>
<html>
    <head>
        <title>Michael Ruberto's Portfolio</title>
        <link rel = "stylesheet" type = "text/css" href = "static/style.css">
    </head>
    <body>
        <header>
                <a href="/"><h1>Michael Ruberto</h1></a>
        </header>
        <nav>
            <ul>
                <li><a href="programming">Programming</a></li>
                <li><a href="extracurriculars">Extracurriculars</a></li>
                <li><a href="social">Social</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
        <h1>Welcome to the portfolio of Michael Ruberto!</h1>
        <h2>Click the above links to learn more.</h2>
    </body>
</html>