<!DOCTYPE html>
<html>
    <head>
            <title>Programming</title>
            <link rel = "stylesheet" type = "text/css" href = "static/style.css">
    </head>
    <body>
        <header>
            <a href="index.html"><h1>Michael Ruberto</h1></a>
        </header>
        <nav>
            <ul>
                <li id = current_page><a href="programming.html">Programming</a></li>
                <li><a href="extracurriculars.html">Extracurriculars</a></li>
                <li><a href="social.html">Social</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </body>
</html>