<!DOCTYPE html>
<html>
    <head>
            <title>Programming</title>
            <link rel = "stylesheet" type = "text/css" href = "static/style.css">
    </head>
    <body>
        <header>
            <a id = h-text href="/"><h1>Michael Ruberto</h1></a>
        </header>

        <nav>
            <ul>
                <li id = current_page><a href="programming">Programming</a></li>
                <li><a href="extracurriculars">Extracurriculars</a></li>
                <li><a href="social">Social</a></li>
            </ul>
        </nav>
        <main>
            <h1>Languages</h1>
            <ul><img src="/static/images/javalogo.png"/>
                <li>4 years of experience</li>
                <li>5 on Advanced Placement exam</li>
                <li>Experience working with robotics, networking, and Android app deployment</li>
            </ul>
        
            <ul><img src="/static/images/labviewlogo.png"/>
                <li>4 Years of Experience</li>
                <li>Lead programmer for world champion FIRST Robotics Team 1676</li>
                <li>Experience creating, writing, and interpreting autonomous robot algorithms</li>
            </ul>
        
            <ul><img src="/static/images/pythonlogo.png"/>
                <li>1 Year of Experience</li>
                <li>Experience with Flask and Pip</li>
            </ul>
        
            <ul><img src="/static/images/swiftlogo.png"/>
                <li>1 Year of Experience</li>
                <li>Multiple apps created</li>
            </ul>
                
            <ul><img src="/static/images/htmlcsslogos.png"/>
                <li>1 Year of Experience</li>
                <li>Experience designing and maintaining websites from scratch (Such as this one)</li>
            </ul>
            <ul><img src="/static/images/javascriptlogo.png"/>
                <li>1 Year of Experience</li>
            </ul>
        </main>
        <script src = "static/JS/headercolor.js"></script>
    </body>
</html>