<!DOCTYPE html>
<html>
    <head>
        <title>Social</title>
        <link rel = "stylesheet" type = "text/css" href = "static/style.css">
        <link rel="shortcut icon" type="image/png" href="static/images/favicon.png"/>
    </head>
    <body>
        <header>
                <a id = h-text href="/"><h1>Michael Ruberto</h1></a>
        </header>
        <nav>
            <ul>
                <li><a href="programming">Programming</a></li>
                <li><a href="extracurriculars">Extracurriculars</a></li>
                <li id = current_page><a href="social">Social</a></li>
            </ul>
        </nav>
        <main>
            <h1>Instagram: </h1>
            <iframe id="insta" width="320" height="380" src="http://instagram.com/p/qbq6fIJMVZ/embed" frameborder="0"></iframe>
            <h1>Select Spotify Playlists, For Your Listening Pleasure: </h1>
            <div id="playlists">
                <iframe src="https://open.spotify.com/embed/user/mikeydude00/playlist/5wXMgrAnhtjFe65SVHLYMq" width="320" height="380"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe src="https://open.spotify.com/embed/user/mikeydude00/playlist/1Q1FJ2nwm1Ckt5OJPAvXEZ" width="320" height="380"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe src="https://open.spotify.com/embed/user/mikeydude00/playlist/2EmsrZXghbq9JeCu4b5yhQ" width="320" height="380"
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </main>
        <script src = "static/JS/headercolor.js"></script>
    </body>
</html>