<!DOCTYPE html>
<html>
    <head>
        <title>Social</title>
        <link rel = "stylesheet" type = "text/css" href = "static/style.css">
    </head>
    <body>
        <header>
                <a id = h-text href="/"><h1>Michael Ruberto</h1></a>
        </header>
        <nav>
            <ul>
                <li><a href="programming">Programming</a></li>
                <li><a href="extracurriculars">Extracurriculars</a></li>
                <li id = current_page><a href="social">Social</a></li>
            </ul>
        </nav>
        <script src = "static/JS/headercolor.js"></script>
    </body>
</html>